In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("/content/companyJob.csv")
df.head(5)

  company                 job     degree  salaryMoreThan100K
0  google      salesExecutive  bachelors                   0
1  google      salesExecutive    masters                   0
2  google     businessManager  bachelors                   1
3  google     businessManager    masters                   1
4  google  computerProgrammer  bachelors                   0

In [5]:
inputs=df.drop('salaryMoreThan100K',axis='columns')
target=df['salaryMoreThan100K']

In [6]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salaryMoreThan100K, dtype: int64

In [7]:
inputs

       company                 job     degree
0       google      salesExecutive  bachelors
1       google      salesExecutive    masters
2       google     businessManager  bachelors
3       google     businessManager    masters
4       google  computerProgrammer  bachelors
5       google  computerProgrammer    masters
6   abc pharma      salesExecutive    masters
7   abc pharma  computerProgrammer  bachelors
8   abc pharma     businessManager  bachelors
9   abc pharma     businessManager    masters
10    facebook      salesExecutive  bachelors
11    facebook      salesExecutive    masters
12    facebook     businessManager  bachelors
13    facebook     businessManager    masters
14    facebook  computerProgrammer  bachelors
15    facebook  computerProgrammer    masters

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [11]:
inputs['company_n']=le_company.fit_transform(inputs['company'])
inputs['job_n']=le_company.fit_transform(inputs['job'])
inputs['degree_n']=le_company.fit_transform(inputs['degree'])

In [12]:
inputs.head()

  company                 job     degree  company_n  job_n  degree_n
0  google      salesExecutive  bachelors          2      2         0
1  google      salesExecutive    masters          2      2         1
2  google     businessManager  bachelors          2      0         0
3  google     businessManager    masters          2      0         1
4  google  computerProgrammer  bachelors          2      1         0

In [16]:
inputs_n=inputs.drop(['company','job','degree'],axis='columns')

In [17]:
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [18]:
from sklearn import tree

In [19]:
model=tree.DecisionTreeClassifier()

In [21]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [22]:
model.score(inputs_n,target)

1.0

In [24]:
model.predict([[2,2,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [25]:
model.predict([[2,0,0]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])