#<............STRING INTO NUMBERS..........>

In [ ]:
import pandas as pd

# This Data is imported in the form of cvs file.

# whole data is in String from as Company Job and Degree

In [3]:
df=pd.read_csv("/content/companyJob.csv")
df.head()

  company                 job     degree  salaryMoreThan100K
0  google      salesExecutive  bachelors                   0
1  google      salesExecutive    masters                   0
2  google     businessManager  bachelors                   1
3  google     businessManager    masters                   1
4  google  computerProgrammer  bachelors                   0

#let drop the last numeric column (Salary)

In [4]:
inputs=df.drop('salaryMoreThan100K',axis='columns')
target=df['salaryMoreThan100K']

# Here we have deleted the last Column

In [6]:
inputs

       company                 job     degree
0       google      salesExecutive  bachelors
1       google      salesExecutive    masters
2       google     businessManager  bachelors
3       google     businessManager    masters
4       google  computerProgrammer  bachelors
5       google  computerProgrammer    masters
6   abc pharma      salesExecutive    masters
7   abc pharma  computerProgrammer  bachelors
8   abc pharma     businessManager  bachelors
9   abc pharma     businessManager    masters
10    facebook      salesExecutive  bachelors
11    facebook      salesExecutive    masters
12    facebook     businessManager  bachelors
13    facebook     businessManager    masters
14    facebook  computerProgrammer  bachelors
15    facebook  computerProgrammer    masters

# Now import LabelEndcoder module to convert string into numbers

In [7]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [13]:
inputs['company_name']=le_company.fit_transform(inputs['company'])
inputs['job_name']=le_job.fit_transform(inputs['job'])
inputs['degree_name']=le_job.fit_transform(inputs['degree'])

# Finally our columns of Company job and Degree are converted into numbers
##but we have to drop the columns that are still in string form

In [14]:
inputs.head()

  company                 job     degree  company_name  job_name  degree_name
0  google      salesExecutive  bachelors             2         2            0
1  google      salesExecutive    masters             2         2            1
2  google     businessManager  bachelors             2         0            0
3  google     businessManager    masters             2         0            1
4  google  computerProgrammer  bachelors             2         1            0

# Here we have deleted the columns that are in string form

In [16]:
inputs_n=inputs.drop(['company','job','degree'],axis='columns')

In [17]:
inputs_n.head()

   company_name  job_name  degree_name
0             2         2            0
1             2         2            1
2             2         0            0
3             2         0            1
4             2         1            0

#Now we going to apply Tree module to predict the salary

In [18]:
from sklearn import tree

In [23]:
model=tree.DecisionTreeClassifier()

#Fitting Tree module on targeted data for prediction

In [25]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [26]:
model.score(inputs_n,target)

1.0

#Finally our Model is ready to predict Salary according to Company Name Job type and Degree

In [27]:
model.predict([[2,2,2]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

#Some Results of prediction that are 100% accurate

In [28]:
model.predict([[2,2,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [29]:
model.predict([[2,0,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])